<%-include("header.ejs")%>
<style>
    .x{
       position: relative;

        align-items: center;
        background-color: #233538;
        top: 80px;
        left: 230px;
        width: 800px;
        height: 500px;
        border-radius: 50px;
        padding: 15px;
        border : 8px solid hsla(160, 52%, 71%, 1);

    }
    .ww{
        position: relative;
        top:10px;
        font-size: 7.5rem;
        line-height: 100%;
        letter-spacing: -2px;
        font-family: 'Dosis', sans-serif;
        color: hsla(160, 52%, 71%, 1);
        margin-top: 70px;
        animation: titleAnimation 0.5s;
    }
    .content{
        display: flex;

    }
    .contact{


        background-color: #233538;
        top: 200px;
        left: 230px;
        width: 300px;
        height: 350px;
        border-radius: 50px;
        padding: 15px;
        border : 8px solid hsla(160, 52%, 71%, 1);


    }
    .blog {


        background-color: #233538;
        top: 200px;
        left: 230px;
        width: 920px;
        height: 330px;
        border-radius: 50px;
        padding: 15px;
        padding-top: 35px;
        border : 8px solid hsla(160, 52%, 71%, 1);




    }
    .aaa{
        font-family: 'Dosis', sans-serif;
        color: hsla(160, 52%, 71%, 1);
        margin-left: 0px;


    }
    form {
        text-align: center;
        line-height: 100%;
        letter-spacing: -2px;
        font-family: 'Dosis', sans-serif;
        margin-top: 100px;
        animation: titleAnimation 1s;
    }
    .ddd{
        height: 40px;
        width:620px;
        margin-bottom: 50px;

        border : 8px solid hsla(160, 52%, 71%, 1);
        border-radius: 50px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #37574C;
        font-family: 'Dosis', sans-serif;
        color: hsla(160, 52%, 71%, 1);

    }

    ::placeholder {
        font-family: 'Dosis', sans-serif;
        color: hsla(160, 52%, 71%, 1);


    }
    textarea{
        width:610px;
        height:500px;

        border : 8px solid hsla(160, 52%, 71%, 1);
        border-radius: 50px;
        padding: 25px;
        background-color: #37574C;
        font-family: 'Dosis', sans-serif;
        color: hsla(160, 52%, 71%, 1);
        ::placeholder {
            margin: 50px;
        }
    }
    .btn{
        margin-top: 40px;
        border-radius: 50px;
        padding: 15px;
        width: 200px;
        border : 8px solid hsla(160, 52%, 71%, 1);
        font-size: 18px;
        font-family: 'Dosis', sans-serif;
        color: hsla(160, 52%, 71%, 1);
        background-color: #233538;
      margin-right: 20px;
    }

    .xx {
        color: #D4EDE4;
        text-decoration: none;

        font-family: -apple-system, -apple-system,
        BlinkMacSystemFont, 'Segoe UI', Roboto,
        Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
    }
</style>
</head>

<body>
<div class="top">
    <div class="flex-box">
        <div class="flexbox">


            <div class="button" id="about" ><a href="/">About</a></div>


            <div class="button" id="create" action="/create"><a href="/create">Create</a></div>

            <div class="button" id="view" action="/view"><a href="/view">View</a></div>

        </div>

    </div>


    <div class="x">
        <p class="ww">Welcome</p>
        <p class="ww">Mr <%= name%> </p>
    </div>
</div>
</br>
<div class="content">
    <div class="contact">

        <p class="aaa">DOB : <p class="xx"><%=birth%></p></p>

        <p class="aaa">Email ID : <p class="xx"><%=email%></p></p>

        <p class="aaa">Phone : <p class="xx"><%=phone%></p></p>
    </div>


    <div class="blog" >
        <p class="aaa"><%=blog%></p>
    </div>


</div>
<br><br>
<h1>Make Desire Changes
From Here</h1>

<form action="/view" method="POST">

    <input class="ddd" type="text" placeholder="Your Name"  name="name" id ="name">
    <input class="ddd" type="email" placeholder="Enter Email Address"  name="email" id ="email">
    <input for="phone" class="ddd" type="text" class="blog" id="phone" placeholder="Enter Phone Number" name="phone" >
    <input class="ddd" name ="birth" id ="birth" type="date" placeholder="Enter Your DOB">

    <textarea for ="blog" id="blog" name="blog" placeholder="Write your Blog here                                                                                                                                                                                    Use a clear and concise writing style
Break up your text into paragraphs
Use images and videos to make your blog post more visually appealing
Choose a blog template
Choose a captivating topic
Do thorough research
Identify your audience
Design an outline
Write an engaging introduction
Include subheadings and bullet points
Use high-quality images and videos
Craft a compelling headline
Propose solutions
Edit and proofread your work
Select a blog domain name" rows="10"></textarea>
    <br>
    <input type="submit" class="btn" value="Submit">




</form>



<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

<script src="script.js"></script>
<script>
    $("#view").addClass("active");


</script>

</body>
</html>